<div>
    <span class="flaticon-user-1"></span>
    <span class="text"> Create Fav Contestants </span>
</div>

<div style="margin-top: 32px;">
    <form>
        <div class="row">
            <div class="col-6">
                <div class="form-group mt-1">
                    <label>Event Name</label>
                    <input style="background-color: #FFFFFF !important;" type="text" nbInput fullWidth fieldSize="large"
                        placeholder="Select Fav Contestants">
                </div>
            </div>
            <div class="col">
                <div class="form-group mt-1">
                    <label>Max select count</label>
                    <input type="text" style="background-color: #FFFFFF !important;" nbInput fullWidth fieldSize="large"
                        placeholder="5">
                </div>
            </div>
            <div class="col">
                <div class="form-group mt-1">
                    <label>Total point</label>
                    <input type="text" style="background-color: #FFFFFF !important;" nbInput fullWidth fieldSize="large"
                        placeholder="10000">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group mt-1">
                    <div>Level One Reduced Point</div>
                    <div>(1Time Change)</div>
                    <input type="text" style="background-color: #FFFFFF !important;" nbInput fullWidth fieldSize="large"
                        placeholder="250">
                </div>
            </div>
            <div class="col">
                <div class="form-group mt-1">
                    <label>Winner point</label>
                    <input type="text" style="background-color: #FFFFFF !important;" nbInput fullWidth fieldSize="large"
                        placeholder="500" style="margin-top: 12px;">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-1">
                    <label>Rules</label>
                    <!-- <input type="text" nbInput fullWidth fieldSize="large" placeholder="Large"
                style="margin-top: 12px; height: 100px; background-color: #FFFFFF !important;"> -->
                    <textarea nbInput
                        style="margin-top: 12px; height: 100px; background-color: #FFFFFF !important; resize: none;"
                        fullWidth placeholder="5"></textarea>
                </div>
            </div>
        </div>

    </form>

</div>

<div style="float:right">
    <button nbButton size="medium" class="save">Save</button>
    <button nbButton size="medium" class="cancel">Cancel</button>
</div>