<span class="flaticon-party1"></span><span class="title "> {{type== "create2" ? "Create" : "Update"}} Events
</span>



<form #show="ngForm" (ngSubmit)="showform(show)">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <div class="mt-3">
                        <div class="form-group mt-1">
                            <!-- Event Name Field -->
                            <label for="NameField" class="label text-left">Name <span
                                    class="caption status-danger">*</span></label>
                            <input style="background-color: #ffffff; border: 0.5px solid #e1e1e1;" type="text"
                                name="eventName" [(ngModel)]="eventName" #eventNameRef="ngModel" nbInput fullWidth
                                id="NameField" required
                                [status]="(eventNameRef.dirty && eventNameRef.invalid  && show.submitted ?'danger':'') "
                                [attr.aria-invalid]="eventNameRef.invalid && eventNameRef.touched ? true : null">
                            <ng-container *ngIf="eventNameRef.invalid && (eventNameRef.dirty ||show.submitted)">
                                <p class="caption status-danger">
                                    Event Name is required!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- <nb-toggle></nb-toggle> -->
                    <div class="mt-3">
                        <div class="form-group mt-1">
                            <!-- Default Language -->
                            <label for="NameField" class="label text-left">Default Language</label>
                            <input style="background-color: #ffffff; border: 0.5px solid #e1e1e1;" type="text"
                                name="defaultLanguage" [(ngModel)]="defaultLanguage" nbInput fullWidth required
                                [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col lanDropdown">
                    <div>
                        <label>Language<span class="caption status-danger">*</span></label>
                    </div>
                    <nb-select style="background-color: #ffffff !important;" placeholder="Select language" fullWidth
                        (selectedChange)="SelectionItem($event)" name="lanDropdown" [(ngModel)]="lanDropdown">
                        <nb-option *ngFor="let item of language" [value]="item.language">{{item.language}}</nb-option>
                    </nb-select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div>Please select bellow block to upload Image.!!</div>
            <div class="img-edit" fullWidth>
                <ngx-dropzone (change)="onChange($event)"
                    style="box-sizing: border-box !important; border: 1px solid #e1e1e1 !important; height: 165px;"
                    [multiple]="false" accept="image/jpeg,image/jpg,image/png,image/gif">
                    <ngx-dropzone-label *ngIf="files.length==0 && !(imgurl)">Drop it, here!</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" id="image-preview"
                        *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove($event)">
                        <ngx-dropzone-label></ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                    <img *ngIf="files.length==0 && (imgurl)" style="display: block !important; margin-left: auto !important; margin-right: auto !important;height: 128px;
                        width: 250px;" [src]="this.imgurl" class="img-response" />
                </ngx-dropzone>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="margin-top: 25px;">
            <label>Start Date <span class="caption status-danger">*</span></label>
            <mat-form-field style="width: 100%;" floatLabel=never>
                <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [min]="minDate"
                    [max]="maxDate" (dateChange)="StartDate($event)" fullWidth name="startdaytime"
                    [(ngModel)]="startdaytime" required ngModel #date1="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                    [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                    [color]="color" [enableMeridian]="enableMeridian" format="dd-MM-yyyy">
                </ngx-mat-datetime-picker>
                <mat-error *ngIf="date1.invalid && (date1.dirty ||show.submitted)">
                    select start date
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-3" style="margin-top: 25px;">
            <label>Start Date <span class="caption status-danger">*</span></label>
            <mat-form-field style="width: 100%;" floatLabel=never>
                <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date" [min]="minDate"
                    [max]="maxDate" (dateChange)="EndDate($event)" fullWidth name="enddaytime" [(ngModel)]="enddaytime"
                    required ngModel #date2="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                    [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                    [color]="color" [enableMeridian]="enableMeridian" format="dd-MM-yyyy">
                </ngx-mat-datetime-picker>
                <mat-error *ngIf="date2.invalid && (date2.dirty ||show.submitted)">
                    select end date
                </mat-error>
            </mat-form-field>
        </div>

        <!-- <div classs="col-2">
        </div> -->

        <div class="col">
            <div>Please select bellow block to upload Logo.!!</div>
            <div class="logo-edit">
                <ngx-dropzone (change)="onLogoChange($event)"
                    style="border: none; height: 100px !important; width: 250px !important;" [multiple]="false"
                    accept="image/jpeg,image/jpg,image/png,image/gif">
                    <ngx-dropzone-label *ngIf="files.length==0 && !(logourl)">Drop it, here!</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files1" [file]="f"
                        [removable]="true" (removed)="onRemove($event)">
                        <ngx-dropzone-label></ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                    <img *ngIf="files1.length==0 && (logourl)" [src]="this.logourl" style="display: block !important; margin-left: auto !important; margin-right: auto !important;height: 90px;
                    width: 100px;" class="img-response" />
                </ngx-dropzone>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group mt-1">
                <label>Description <span class="caption status-danger">*</span></label>
                <textarea style="background-color: #FFFFFF !important; height:100px; resize: none;" nbInput fullWidth
                    placeholder="The Thursday Night to Friday Night 8pm Captain Selected - 2 option" name="description"
                    [(ngModel)]="description" #descriptionfield="ngModel" required
                    [status]="(descriptionfield.dirty && descriptionfield.invalid  && show.submitted ?'danger':'') "
                    [attr.aria-invalid]="descriptionfield.invalid && descriptionfield.touched ? true : null">
                </textarea>

                <ng-container *ngIf="descriptionfield.invalid && (descriptionfield.dirty ||show.submitted)">
                    <p class="caption status-danger">
                        Description is required!
                    </p>
                </ng-container>
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-1">
                <label>Rules <span class="caption status-danger">*</span></label>
                <textarea style="background-color: #FFFFFF !important; height:100px; resize: none;" nbInput fullWidth
                    placeholder="The Thursday Night to Friday Night 8pm Captain Selected - 2 option" name="rules"
                    [(ngModel)]="rules" #rulefield="ngModel" required
                    [status]="(rulefield.dirty && rulefield.invalid  && show.submitted ?'danger':'') "
                    [attr.aria-invalid]="rulefield.invalid && rulefield.touched ? true : null">
                </textarea>

                <ng-container *ngIf="rulefield.invalid && (rulefield.dirty ||show.submitted)">
                    <p class="caption status-danger">
                        Rules is required!
                    </p>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group mt-1">
                <label>Name in native language <span class="caption status-danger">*</span></label>
                <textarea style="background-color: #FFFFFF !important; height:100px; resize: none;" nbInput fullWidth
                    placeholder="The Thursday Night to Friday Night 8pm Captain Selected - 2 option" name="nativeName"
                    [(ngModel)]="nativeName" #nativeNameField="ngModel" required
                    [status]="(nativeNameField.dirty && nativeNameField.invalid  && show.submitted ?'danger':'') "
                    [attr.aria-invalid]="nativeNameField.invalid && nativeNameField.touched ? true : null">
                </textarea>

                <ng-container *ngIf="nativeNameField.invalid && (nativeNameField.dirty ||show.submitted)">
                    <p class="caption status-danger">
                        name in native language is required!
                    </p>
                </ng-container>
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-1">
                <label>Description in native language <span class="caption status-danger">*</span></label>
                <textarea style="background-color: #FFFFFF !important; height:100px; resize: none;" nbInput fullWidth
                    placeholder="The Thursday Night to Friday Night 8pm Captain Selected - 2 option"
                    name="nativeDescription" [(ngModel)]="nativeDescription" #nativeDescriptionField="ngModel" required
                    [status]="(nativeDescriptionField.dirty && nativeDescriptionField.invalid  && show.submitted ?'danger':'') "
                    [attr.aria-invalid]="nativeDescriptionField.invalid && nativeDescriptionField.touched ? true : null">
                </textarea>

                <ng-container *ngIf="nativeDescriptionField.invalid && (nativeDescriptionField.dirty ||show.submitted)">
                    <p class="caption status-danger">
                        Description in native language is required!
                    </p>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group mt-1">
                <label>Rules in native language <span class="caption status-danger">*</span></label>
                <textarea style="background-color: #FFFFFF !important; height:100px; resize: none;" nbInput fullWidth
                    placeholder="The Thursday Night to Friday Night 8pm Captain Selected - 2 option" name="nativeRules"
                    [(ngModel)]="nativeRules" #nativeRuleField="ngModel" required
                    [status]="(nativeRuleField.dirty && nativeRuleField.invalid  && show.submitted ?'danger':'') "
                    [attr.aria-invalid]="nativeRuleField.invalid && nativeRuleField.touched ? true : null">
                </textarea>

                <ng-container *ngIf="nativeRuleField.invalid && (nativeRuleField.dirty ||show.submitted)">
                    <p class="caption status-danger">
                        Rules in native language is required!
                    </p>
                </ng-container>
            </div>
        </div>
        <div class="col">
            <div>
                <label><span [ngClass]="{'activeStatus':status}">InActive</span>/<span
                        [ngClass]="{'activeStatus':!status}">Active</span></label>
            </div>
            <nb-toggle name="status" [(ngModel)]="status" #statusRef="ngModel" required></nb-toggle>
        </div>
    </div>

    <div class="row ">
        <div class="col">
            <button style="float: right;" nbButton size="medium" type="reset" class="cancel position">Cancel</button>
            <button style="float: right;" nbButton size="medium" type="submit" class="save position">Update</button>
        </div>
    </div>
</form>
