<div><span class="flaticon-user-1"></span><span class="title">{{type|titlecase}} Advertisments</span></div>
<!-- <div class="top-txt">Edit Contestants</div> -->


<div class="row top-spacing">
    <div class="col-8">
        <nb-card style="background-color: #f9f9f9 !important; border: none;">
            <form #UpdateForm="ngForm" (ngSubmit)="Update(UpdateForm)">
                <div>
                    <!-- default form data -->
                    <div class="mt-3">
                        <div class="form-group mt-1">
                            <label for="NameField" class="label text-left">Title <span
                                    class="caption status-danger">*</span></label>
                            <input style="background-color: #ffffff; border: 0.5px solid #e1e1e1;" type="text"
                                name="name" [(ngModel)]="name" #nameRef="ngModel" nbInput fullWidth id="NameField"
                                required
                                [status]="(nameRef.dirty && nameRef.invalid  && UpdateForm.submitted ?'danger':'') "
                                [attr.aria-invalid]="nameRef.invalid && nameRef.touched ? true : null">

                            <ng-container *ngIf="nameRef.invalid && (nameRef.dirty ||UpdateForm.submitted)">
                                <p class="caption status-danger">
                                    Title is required!
                                </p>
                            </ng-container>
                        </div>
                        <!-- <div class="form-group mt-1">
                            <label for="ProfessionalFiled" class="label text-left">Position <span
                                    class="caption status-danger">*</span></label>

                                <span>
                                    <nb-select name="position" [(ngModel)]="positionname" #positionnameRef="ngModel" [(selected)]="selectedItem" (selectedChange)="selectionItem($event)" fullWidth>
                                        <nb-option *ngFor="let item of viewposition" [value]="item.key">
                                            {{item.name | titlecase}}
                                        </nb-option>
                                    </nb-select>
                                </span>
                            <ng-container *ngIf="positionnameRef.invalid && (positionnameRef.dirty ||UpdateForm.submitted)">
                                <p class="caption status-danger">
                                    Position is required!
                                </p>
                            </ng-container>
                        </div> -->

                        <div class="form-group mt-1">
                            <label for="ProfessionalFiled" class="label text-left">Page <span
                                    class="caption status-danger">*</span></label>
                            <!-- <input style="background-color: #ffffff; border: 0.5px solid #e1e1e1;" type="text"
                                name="page" [(ngModel)]="page" #professionRef="ngModel" nbInput
                                fullWidth id="ProfessionalField" required
                                [status]="(professionRef.dirty && professionRef.invalid  && UpdateForm.submitted ?'danger':'') "
                                [attr.aria-invalid]="professionRef.invalid && professionRef.touched ? true : null"> -->
                                <span>
                                    <nb-select name="page"  [(ngModel)]="pagename" #pagenameRef="ngModel" [(selected)]="selectedPageItem" (selectedChange)="selectionPageItem($event)" fullWidth>
                                        <nb-option *ngFor="let item of viewPage" [value]="item.key">
                                            {{item.name | titlecase}}
                                        </nb-option>
                                    </nb-select>
                                </span>
                            <ng-container *ngIf="pagenameRef.invalid && (pagenameRef.dirty ||UpdateForm.submitted)">
                                <p class="caption status-danger">
                                    Page is required!
                                </p>
                            </ng-container>
                        </div>

                        <!-- <div class="form-group mt-1">
                            <label for="ProfessionalFiled" class="label text-left">Ad Count <span
                                    class="caption status-danger">*</span></label>
                            <input style="background-color: #ffffff; border: 0.5px solid #e1e1e1;" type="text"
                                name="adcount" [(ngModel)]="adcount" #professionRef="ngModel" nbInput
                                fullWidth id="ProfessionalField" required
                                [status]="(professionRef.dirty && professionRef.invalid  && UpdateForm.submitted ?'danger':'') "
                                [attr.aria-invalid]="professionRef.invalid && professionRef.touched ? true : null">

                            <ng-container *ngIf="professionRef.invalid && (professionRef.dirty ||UpdateForm.submitted)">
                                <p class="caption status-danger">
                                    Ad count is required!
                                </p>
                            </ng-container>
                        </div> -->
                        <!-- <div class="row">
                          <div class="col-3" style="margin-top: 4px;">
                            <label>Start Date <span class="caption status-danger">*</span></label>
                            <mat-form-field style="width: 100%;" floatLabel=never>
                              <input matInput [ngxMatDatetimePicker]="picker" placeholder="Start date" [min]="minDate" [max]="maxDate"
                                (dateChange)="StartDate($event)" fullWidth name="startdaytime" [(ngModel)]="startdaytime" required ngModel
                                #date1="ngModel" >
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                [color]="color" [enableMeridian]="enableMeridian" format="dd-MM-yyyy">
                              </ngx-mat-datetime-picker>
                              <mat-error *ngIf="date1.invalid && (date1.dirty ||UpdateForm.submitted)">
                                select start date
                              </mat-error>
                            </mat-form-field>

                          </div>
                          <div class="col-3" style="margin-top: 4px;">
                            <label>End Date <span class="caption status-danger">*</span></label>
                            <mat-form-field style="width: 100%;" floatLabel=never>
                              <input matInput [ngxMatDatetimePicker]="picker1" placeholder="End date" [min]="startdaytime" [max]="maxDate"
                                (dateChange)="EndDate($event)" fullWidth name="enddaytime" [(ngModel)]="enddaytime" required ngModel
                                #date2="ngModel">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                [color]="color" [enableMeridian]="enableMeridian" format="dd-MM-yyyy">
                              </ngx-mat-datetime-picker>
                              <mat-error *ngIf="date2.invalid && (date2.dirty ||UpdateForm.submitted)">
                                Select end date
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div> -->
                        <div class="col-2">
                          <div>
                              <label><span [ngClass]="{'activeStatus':evStatus}">Event Ad</span>/<span
                                      [ngClass]="{'activeStatus':!evStatus}"></span></label>
                          </div>
                          <nb-toggle name="evStatus" [(ngModel)]="evStatus" #statusRef="ngModel" required></nb-toggle>
                      </div>

                        <div class="form-group mt-1">
                            <label for="exampleInputEmail1" class="label text-left">Url link <span
                                    class="caption status-danger">*</span></label>
                            <textarea
                                style="background-color: #ffffff; border: 0.5px solid #e1e1e1; resize: none; height: 100px;"
                                nbInput fullWidth name="link" [(ngModel)]="link" placeholder="Textarea"
                                #biographRef="ngModel" required
                                [status]="(biographRef.dirty && biographRef.invalid  && UpdateForm.submitted ?'danger':'') "
                                [attr.aria-invalid]="biographRef.invalid && biographRef.touched ? true : null"></textarea>
                            <ng-container *ngIf="biographRef.invalid && (biographRef.dirty ||UpdateForm.submitted)">
                                <p class="caption status-danger">
                                    Ad Link is required!
                                </p>
                            </ng-container>
                        </div>
                    </div>





                    <div>
                        <span style="float: left;">
                            <div style="font-size: 16px; color: #616161; margin-bottom: 4px;">
                                <span [ngClass]="{'activeStatus':status}">InActive</span>/<span
                                    [ngClass]="{'activeStatus':!status}">Active</span>
                            </div>
                            <nb-toggle name="status" [(ngModel)]="status" #statusRef="ngModel" required>
                            </nb-toggle>
                        </span>
                        <span style="float: right;">
                            <button [disabled]="spinner" type="submit" size="medium" class="save" nbButton
                                [nbSpinner]="spinner" nbSpinnerStatus="primary" nbSpinnerSize="xsmall">
                                {{type | titlecase}}</button>
                            <button nbButton type="reset" size="medium" class="cancel"
                                routerLink="/pages/advertisment/list">Cancel</button>
                        </span>
                    </div>
                </div>
            </form>
        </nb-card>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col">
                <!-- Image Upload -->

                <!-- <div class="row">
                    <div class="col img-edit">
                        <img *ngIf="imgurl" [src]="imgurl" style="width: 147px; height: 147px; object-fit: cover; border-radius: 50%;    margin-top: 4px;
                        margin-left: 4px;" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>Note : Image Size 224*225 Px</div>
                    </div>
                </div> -->
                <div class="img-edit">

                    <ngx-dropzone (change)="onChange($event)" style="border: none;" [multiple]="true"
                        accept="image/jpeg,image/jpg,image/png,image/gif">
                        <ngx-dropzone-label *ngIf="files.length==0 && !(imgurl)">Drop it, here!</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" id="image-preview"
                            *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove($event)">
                        </ngx-dropzone-image-preview>
                        <div style="padding: 0px 13px;" *ngFor="let img of imgurl">
                            <img *ngIf="files.length==0 && (imgurl)" [src]="img" alt=""
                                style="width: 100% !important;" class="img-responsive" />
                        </div>
                    </ngx-dropzone>
                    <div>Please select block to Upload Image or drag and drop Image of  </div>
                </div>
            </div>
        </div>
    </div>
